#include <windows.h>

#ifdef GCC_WINDRES
VS_VERSION_INFO         VERSIONINFO
#else
VS_VERSION_INFO         VERSIONINFO     MOVEABLE IMPURE LOADONCALL DISCARDABLE
#endif
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x10004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileDescription", "NetCeiver Diagnose Utility"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "netcvdiag.exe"
            VALUE "LegalCopyright", "(C) BayCom GmbH"
            VALUE "OriginalFilename", "netcvdiag.exe"
            VALUE "ProductName", "netcvdiag"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
