#
# User defined Makefile options for graphlcd daemon and tools

### The C compiler and options:

CC       ?= ccache gcc
CFLAGS   ?= -O2 -march=pentium-mmx -mmmx

CXX      ?= ccache g++
CXXFLAGS ?= -O2 -Wall -Woverloaded-virtual -march=pentium-mmx -mmmx
#CXXFLAGS = -g -ggdb -O0 -Wall -Woverloaded-virtual

#LDFLAGS  = -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

BINDIR = /usr/bin
LIBDIR = /usr/lib
INCDIR = /usr/include
MANDIR = /usr/man

### Includes and defines

#INCLUDES += -I

DEFINES += -D_GNU_SOURCE
DEFINES += -DFP_DEVICE=\"$(FP_DEVICE)\"

#HAVE_FREETYPE2=0
HAVE_FREETYPE2=1
